html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* estilo evaluador home */
.btn-eva {
    background-color: black;
    font-size: 17px;
    padding: 7px 15px;
    color: white;
    border-radius: 22px;
    text-decoration: none;
    transition: background-color 0.3s; /* Añade una transición suave al cambiar de color */
}

.btn-eva:hover {
    background-color: rgb(34, 191, 34); /* Cambia a verde cuando el mouse está sobre el botón */
}
