/* Estilos generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #333333;
    color: #333;
}

.card-body{
    background-color: #333333;
}

/* Letras */
h1 {
    color: #f8f8f8;
}
h3 {
    color: #f8f8f8;
}
p {
    color: #f8f8f8;
}
h2 {
    color: #f8f8f8;
}
label {
    color: #f8f8f8;
}


/* Encabezado */
header {
    background-color: #000080;
    color: #f8f8f8;
    text-align: center;
    padding: 50px 0;
}

/* Barra de navegación */
.navbar {
    background-color: #333333;
    border-bottom: 1px solid #333333;
}

.navbar-brand {
    color: #000080;
    font-weight: bold;
    font-size: 24px;
}

.navbar-nav .nav-link {
    color: #000080;
    font-weight: bold;
    font-size: 18px;
}

/* Secciones */
.section-heading {
    color: #000080;
    font-size: 28px;
    text-align: center;
}

.feature {
    margin: 40px 0;
}

/* Botones */
.btn-primary {
    background-color: #4422EE;
    border-color: #4422EE;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: #4422EE;
    border-color: #4422EE;
}

/* Pie de página */
footer {
    background-color: #000080;
    color: #333333;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

/* Estilo de fondo difuminado */
.background-difuminado {
    background: #333333;
}

